In [1]:
# Import the Pandas library
import pandas as pd
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
import requests

import warnings
warnings.filterwarnings('ignore')

# Import API key
from api_keys import weather_api_key

In [2]:
# Create a reference the CSV file desired
csv_path = "data/activities-garmin.csv"

# Read the CSV into a Pandas DataFrame
strava_data_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
strava_data_df

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Commute,...,Weather Ozone,"<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count"">Jump Count</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>"
0,26063353,"Oct 25, 2012, 11:21:03 AM","10/25/2012 Philadelphia, PA",Ride,NaN,10942,48.46,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26063354,"Oct 18, 2012, 11:24:44 AM","10/18/2012 Philadelphia, PA",Ride,NaN,11824,47.88,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26063358,"Oct 14, 2012, 1:04:47 PM","10/14/2012 Philadelphia, PA",Ride,NaN,9651,64.96,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46174789,"Mar 28, 2013, 11:22:39 AM",03/28/2013,Ride,NaN,12166,50.77,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46476108,"Mar 30, 2013, 12:40:50 PM",03/30/2013,Run,NaN,5862,15.49,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,7552928595,"Jul 30, 2022, 11:50:45 AM",Morning Run,Run,NaN,130,0.28,118.0,0.0,False,...,316.299988,NaN,NaN,NaN,0.0,2.200923,0.0,NaN,NaN,NaN
1257,7553432146,"Jul 30, 2022, 12:06:19 PM",Morning Run,Run,NaN,4548,12.82,159.0,125.0,False,...,315.100006,NaN,NaN,NaN,0.0,2.819466,0.0,NaN,NaN,NaN
1258,7572879054,"Aug 2, 2022, 10:37:23 PM",Evening Run,Run,NaN,2434,7.48,164.0,81.0,False,...,306.200012,NaN,NaN,NaN,0.0,3.075263,0.0,NaN,NaN,NaN
1259,7582461703,"Aug 4, 2022, 3:09:39 PM",Lunch Run,Run,NaN,6711,13.69,152.0,122.0,False,...,306.299988,NaN,NaN,NaN,0.0,2.040027,6662.0,NaN,NaN,NaN
1260,7592098271,"Aug 6, 2022, 12:06:32 PM",Morning Run,Run,NaN,4404,12.78,154.0,132.0,False,...,298.600006,NaN,NaN,NaN,0.0,2.902080,0.0,NaN,NaN,NaN

In [3]:
#drop all non-running activities'

cleaning_running_df = strava_data_df.loc[(
    strava_data_df["Activity Type"] == "Run")]

cleaning_running_df.head()

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Commute,...,Weather Ozone,"<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count"">Jump Count</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>"
4,46476108,"Mar 30, 2013, 12:40:50 PM",03/30/2013,Run,NaN,5862,15.49,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,47475638,"Apr 6, 2013, 12:38:52 PM",04/06/2013,Run,NaN,5960,15.45,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,49240041,"Apr 17, 2013, 11:26:53 AM",04/17/2013,Run,NaN,4235,11.72,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,49489977,"Apr 18, 2013, 10:52:56 PM",04/18/2013,Run,NaN,5672,8.11,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,49702083,"Apr 20, 2013, 12:39:01 PM",04/20/2013,Run,NaN,5953,15.28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Eliminating unnecessary columns

running_df = cleaning_running_df[["Activity Date","Activity Name", "Activity Type", "Elapsed Time", "Distance", "Max Heart Rate", "Moving Time", "Average Heart Rate"]]

running_df.head(200)

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate
4,"Mar 30, 2013, 12:40:50 PM",03/30/2013,Run,5862,15.49,NaN,4745.0,NaN
6,"Apr 6, 2013, 12:38:52 PM",04/06/2013,Run,5960,15.45,NaN,4688.0,NaN
8,"Apr 17, 2013, 11:26:53 AM",04/17/2013,Run,4235,11.72,NaN,3990.0,NaN
10,"Apr 18, 2013, 10:52:56 PM",04/18/2013,Run,5672,8.11,NaN,3627.0,NaN
11,"Apr 20, 2013, 12:39:01 PM",04/20/2013,Run,5953,15.28,NaN,4729.0,NaN
...,...,...,...,...,...,...,...,...
237,"Jun 27, 2015, 11:46:34 AM","06/27/2015 Philadelphia, PA",Run,4716,14.98,NaN,4706.0,NaN
238,"Jun 29, 2015, 10:06:46 AM","06/29/2015 Philadelphia, PA",Run,4102,11.05,NaN,3996.0,NaN
239,"Jun 30, 2015, 10:34:57 PM","06/30/2015 Philadelphia, Pennsylvania",Run,2099,6.97,NaN,2084.0,NaN
240,"Jul 4, 2015, 11:48:21 AM","07/04/2015 Philadelphia, PA",Run,4587,14.40,NaN,4547.0,NaN
241,"Jul 7, 2015, 10:19:34 PM","07/07/2015 Philadelphia, PA",Run,2434,8.09,NaN,2418.0,NaN

In [5]:
running_df.dtypes

Activity Date          object
Activity Name          object
Activity Type          object
Elapsed Time            int64
Distance              float64
Max Heart Rate        float64
Moving Time           float64
Average Heart Rate    float64
dtype: object

In [6]:
#dropping rows with missing data

run_df = running_df.dropna(how='any')

clean_running_df = run_df.loc[(
    run_df["Distance"] > 2.00)]

clean_running_df

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate
126,"Jul 19, 2014, 11:45:45 AM",Morning Run,Run,5787,16.34,172.0,5023.0,159.195999
127,"Jul 19, 2014, 11:43:37 PM",Evening Run,Run,6145,14.81,154.0,5542.0,133.785004
128,"Jul 22, 2014, 12:15:22 PM",Morning Run,Run,3670,11.20,173.0,3498.0,160.363998
129,"Jul 26, 2014, 11:44:48 AM",Morning Run,Run,5791,16.22,171.0,4975.0,160.580994
130,"Jul 29, 2014, 9:51:20 AM",Morning Run,Run,6783,17.70,150.0,6049.0,136.505005
...,...,...,...,...,...,...,...,...
1255,"Jul 28, 2022, 1:31:03 PM",Morning Run,Run,6619,14.48,145.0,6503.0,129.962784
1257,"Jul 30, 2022, 12:06:19 PM",Morning Run,Run,4548,12.82,159.0,4462.0,142.479721
1258,"Aug 2, 2022, 10:37:23 PM",Evening Run,Run,2434,7.48,164.0,2426.0,148.201569
1259,"Aug 4, 2022, 3:09:39 PM",Lunch Run,Run,6711,13.69,152.0,6508.0,134.532440
1260,"Aug 6, 2022, 12:06:32 PM",Morning Run,Run,4404,12.78,154.0,4328.0,145.351074

In [7]:
#Convert month to number for each occurrence within clean_running_df

from datetime import datetime

clean_running_df["Time_Stamp"]=pd.to_datetime(clean_running_df["Activity Date"]).map(pd.Timestamp.timestamp)
clean_running_df.head()

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate,Time_Stamp
126,"Jul 19, 2014, 11:45:45 AM",Morning Run,Run,5787,16.34,172.0,5023.0,159.195999,1.405770e+09
127,"Jul 19, 2014, 11:43:37 PM",Evening Run,Run,6145,14.81,154.0,5542.0,133.785004,1.405813e+09
128,"Jul 22, 2014, 12:15:22 PM",Morning Run,Run,3670,11.20,173.0,3498.0,160.363998,1.406031e+09
129,"Jul 26, 2014, 11:44:48 AM",Morning Run,Run,5791,16.22,171.0,4975.0,160.580994,1.406375e+09
130,"Jul 29, 2014, 9:51:20 AM",Morning Run,Run,6783,17.70,150.0,6049.0,136.505005,1.406627e+09

In [8]:

clean_running_df["Activity Date"]=pd.to_datetime(clean_running_df["Activity Date"])
clean_running_df.head()

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate,Time_Stamp
126,2014-07-19 11:45:45,Morning Run,Run,5787,16.34,172.0,5023.0,159.195999,1.405770e+09
127,2014-07-19 23:43:37,Evening Run,Run,6145,14.81,154.0,5542.0,133.785004,1.405813e+09
128,2014-07-22 12:15:22,Morning Run,Run,3670,11.20,173.0,3498.0,160.363998,1.406031e+09
129,2014-07-26 11:44:48,Morning Run,Run,5791,16.22,171.0,4975.0,160.580994,1.406375e+09
130,2014-07-29 09:51:20,Morning Run,Run,6783,17.70,150.0,6049.0,136.505005,1.406627e+09

In [ ]:
#reorganizes columns
#clean_running_df[["Time Stamp", "Activity Date", "Activity Name" , "Activity Type", add rest of columns ]]

In [9]:
clean_running_df.dtypes

Activity Date         datetime64[ns]
Activity Name                 object
Activity Type                 object
Elapsed Time                   int64
Distance                     float64
Max Heart Rate               float64
Moving Time                  float64
Average Heart Rate           float64
Time_Stamp                   float64
dtype: object

In [10]:
running_test_df = clean_running_df.head(10)

running_test_df

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate,Time_Stamp
126,2014-07-19 11:45:45,Morning Run,Run,5787,16.34,172.0,5023.0,159.195999,1.405770e+09
127,2014-07-19 23:43:37,Evening Run,Run,6145,14.81,154.0,5542.0,133.785004,1.405813e+09
128,2014-07-22 12:15:22,Morning Run,Run,3670,11.20,173.0,3498.0,160.363998,1.406031e+09
129,2014-07-26 11:44:48,Morning Run,Run,5791,16.22,171.0,4975.0,160.580994,1.406375e+09
130,2014-07-29 09:51:20,Morning Run,Run,6783,17.70,150.0,6049.0,136.505005,1.406627e+09
131,2014-08-02 11:46:07,Morning Run,Run,5621,15.81,170.0,4799.0,156.666000,1.406980e+09
132,2014-08-05 11:36:39,Morning Run,Run,3427,10.19,157.0,3349.0,146.712006,1.407239e+09
133,2014-08-08 11:33:48,Morning Run,Run,3585,9.67,148.0,3377.0,137.212006,1.407498e+09
134,2014-08-11 11:44:41,Morning Run,Run,3947,12.08,166.0,3787.0,149.421997,1.407757e+09
135,2014-08-14 09:44:20,Morning Run,Run,5636,15.97,135.0,5077.0,132.266998,1.408009e+09

In [23]:
#api call

running_weather_data = []

ds_list = clean_running_df["Time_Stamp"].astype("str").to_list()
ds_list = [sub[: -2] for sub in ds_list] 
url = "https://api.openweathermap.org/data/3.0/onecall/timemachine?lat=39.952778&lon=-75.163611&dt=" 
api_key = "&appid=" + weather_api_key

for ts in ds_list:
    
    weather_url = url + ts + api_key
    weather = requests.get(weather_url).json()
    temp_js = weather["data"][0]["temp"]
    humidity_js = weather["data"][0]["humidity"]
    #uvi_js = weather["data"][0]["uvi"]
    wind_speed_js = weather["data"][0]["wind_speed"]
    
    running_weather_data.append({
        "date": clean_running_data_df["Activity Date"],
        "moving_time" : clean_running_data_df["Moving Time"],
        "ave_hr" : clean_running_data_df["Average Heart Rate"],
        "temp" : "temp_js",
        "humidity" : "humidity_js",
        "uvi" : "uvi_js",
        "wind_speed" : "wind_speed_js"               
    })

NameError: name 'clean_running_data_df' is not defined

In [21]:
print(weather_url)

https://api.openweathermap.org/data/3.0/onecall/timemachine?lat=39.952778&lon=-75.163611&dt=1405770345&appid=47cf149d8678d98f42bb20e2a8c38e70

In [ ]:
#take dataframe and convert to sql, create a table in the Garmin and Weather database, insert data into that table
#REMEMBER TO INSERT PASSWORD
#postgresql://<username>:<insert password>@localhost:<server port>/<Database name>
from sqlalchemy import create_engine
engine=create_engine("postgresql://postgres:<insert password>@localhost:5432/Garmin_and_Weather")
#df.to_sql(<"table_name">, engine, index=False, if_exists="replace"     # or "append")
clean_running_df.to_sql("running_table", engine, index=False, if_exists="replace")
weather_df.to_sql("weather_table", engine, index=False, if_exists="replace")

In [9]:
# pd.read_sql('select * from running_table', engine)