In [35]:
# Import the Pandas library
import pandas as pd
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
import requests

In [37]:
# Create a reference the CSV file desired
csv_path = "data/activities-garmin.csv"

# Read the CSV into a Pandas DataFrame
strava_data_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
strava_data_df

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Commute,...,Weather Ozone,"<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count"">Jump Count</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>"
0,26063353,"Oct 25, 2012, 11:21:03 AM","10/25/2012 Philadelphia, PA",Ride,NaN,10942,48.46,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26063354,"Oct 18, 2012, 11:24:44 AM","10/18/2012 Philadelphia, PA",Ride,NaN,11824,47.88,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26063358,"Oct 14, 2012, 1:04:47 PM","10/14/2012 Philadelphia, PA",Ride,NaN,9651,64.96,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46174789,"Mar 28, 2013, 11:22:39 AM",03/28/2013,Ride,NaN,12166,50.77,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46476108,"Mar 30, 2013, 12:40:50 PM",03/30/2013,Run,NaN,5862,15.49,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,7552928595,"Jul 30, 2022, 11:50:45 AM",Morning Run,Run,NaN,130,0.28,118.0,0.0,False,...,316.299988,NaN,NaN,NaN,0.0,2.200923,0.0,NaN,NaN,NaN
1257,7553432146,"Jul 30, 2022, 12:06:19 PM",Morning Run,Run,NaN,4548,12.82,159.0,125.0,False,...,315.100006,NaN,NaN,NaN,0.0,2.819466,0.0,NaN,NaN,NaN
1258,7572879054,"Aug 2, 2022, 10:37:23 PM",Evening Run,Run,NaN,2434,7.48,164.0,81.0,False,...,306.200012,NaN,NaN,NaN,0.0,3.075263,0.0,NaN,NaN,NaN
1259,7582461703,"Aug 4, 2022, 3:09:39 PM",Lunch Run,Run,NaN,6711,13.69,152.0,122.0,False,...,306.299988,NaN,NaN,NaN,0.0,2.040027,6662.0,NaN,NaN,NaN
1260,7592098271,"Aug 6, 2022, 12:06:32 PM",Morning Run,Run,NaN,4404,12.78,154.0,132.0,False,...,298.600006,NaN,NaN,NaN,0.0,2.902080,0.0,NaN,NaN,NaN

In [19]:
#drop all non-running activities'

cleaning_running_df = strava_data_df.loc[(
    strava_data_df["Activity Type"] == "Run")]

cleaning_running_df.head()

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Max Heart Rate,Relative Effort,Commute,...,Weather Ozone,"<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.jump_count"">Jump Count</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: en-US.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>"
0,26063353,"Oct 25, 2012, 11:21:03 AM","10/25/2012 Philadelphia, PA",Run,NaN,10942,48.46,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26063354,"Oct 18, 2012, 11:24:44 AM","10/18/2012 Philadelphia, PA",Run,NaN,11824,47.88,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26063358,"Oct 14, 2012, 1:04:47 PM","10/14/2012 Philadelphia, PA",Run,NaN,9651,64.96,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46174789,"Mar 28, 2013, 11:22:39 AM",03/28/2013,Run,NaN,12166,50.77,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46476108,"Mar 30, 2013, 12:40:50 PM",03/30/2013,Run,NaN,5862,15.49,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Eliminating unnecessary columns

running_df = cleaning_running_df[["Activity Date","Activity Name", "Activity Type", "Elapsed Time", "Distance", "Max Heart Rate", "Moving Time", "Average Heart Rate"]]

running_df.head(200)

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate
0,"Oct 25, 2012, 11:21:03 AM","10/25/2012 Philadelphia, PA",Run,10942,48.46,NaN,7802.0,NaN
1,"Oct 18, 2012, 11:24:44 AM","10/18/2012 Philadelphia, PA",Run,11824,47.88,NaN,7784.0,NaN
2,"Oct 14, 2012, 1:04:47 PM","10/14/2012 Philadelphia, PA",Run,9651,64.96,NaN,9287.0,NaN
3,"Mar 28, 2013, 11:22:39 AM",03/28/2013,Run,12166,50.77,NaN,8166.0,NaN
4,"Mar 30, 2013, 12:40:50 PM",03/30/2013,Run,5862,15.49,NaN,4745.0,NaN
...,...,...,...,...,...,...,...,...
195,"Jan 19, 2015, 11:31:28 AM",Morning Run,Run,3430,8.34,NaN,2943.0,NaN
196,"Jan 20, 2015, 11:18:47 PM",Evening Run,Run,3236,9.16,NaN,2716.0,NaN
197,"Jan 27, 2015, 11:20:25 PM",Evening Run,Run,3105,9.38,NaN,2678.0,NaN
198,"Jan 31, 2015, 1:51:14 PM",Morning Run,Run,5148,15.94,NaN,4957.0,NaN
199,"Feb 8, 2015, 12:04:23 PM",Morning Run,Run,3901,11.03,NaN,3594.0,NaN

In [29]:
running_df.dtypes

Activity Date          object
Activity Name          object
Activity Type          object
Elapsed Time            int64
Distance              float64
Max Heart Rate        float64
Moving Time           float64
Average Heart Rate    float64
dtype: object

In [32]:
#dropping rows with missing data

run_df = running_df.dropna(how='any')

clean_running_df = run_df.loc[(
    run_df["Distance"] > 2.00)]

clean_running_df

,Activity Date,Activity Name,Activity Type,Elapsed Time,Distance,Max Heart Rate,Moving Time,Average Heart Rate
126,"Jul 19, 2014, 11:45:45 AM",Morning Run,Run,5787,16.34,172.0,5023.0,159.195999
127,"Jul 19, 2014, 11:43:37 PM",Evening Run,Run,6145,14.81,154.0,5542.0,133.785004
128,"Jul 22, 2014, 12:15:22 PM",Morning Run,Run,3670,11.20,173.0,3498.0,160.363998
129,"Jul 26, 2014, 11:44:48 AM",Morning Run,Run,5791,16.22,171.0,4975.0,160.580994
130,"Jul 29, 2014, 9:51:20 AM",Morning Run,Run,6783,17.70,150.0,6049.0,136.505005
...,...,...,...,...,...,...,...,...
1255,"Jul 28, 2022, 1:31:03 PM",Morning Run,Run,6619,14.48,145.0,6503.0,129.962784
1257,"Jul 30, 2022, 12:06:19 PM",Morning Run,Run,4548,12.82,159.0,4462.0,142.479721
1258,"Aug 2, 2022, 10:37:23 PM",Evening Run,Run,2434,7.48,164.0,2426.0,148.201569
1259,"Aug 4, 2022, 3:09:39 PM",Lunch Run,Run,6711,13.69,152.0,6508.0,134.532440
1260,"Aug 6, 2022, 12:06:32 PM",Morning Run,Run,4404,12.78,154.0,4328.0,145.351074